# Election Forecasting

In [1]:
polling = read.csv("PollingData.csv")

In [2]:
str(polling)

'data.frame':	145 obs. of  7 variables:
 $ State     : Factor w/ 50 levels "Alabama","Alaska",..: 1 1 2 2 3 3 3 4 4 4 ...
 $ Year      : int  2004 2008 2004 2008 2004 2008 2012 2004 2008 2012 ...
 $ Rasmussen : int  11 21 NA 16 5 5 8 7 10 NA ...
 $ SurveyUSA : int  18 25 NA NA 15 NA NA 5 NA NA ...
 $ DiffCount : int  5 5 1 6 8 9 4 8 5 2 ...
 $ PropR     : num  1 1 1 1 1 ...
 $ Republican: int  1 1 1 1 1 1 1 1 1 1 ...

In [3]:
polling

Warning message:
In `[<-.factor`(`*tmp*`, ri, value = "<e2><8b><ae>"): invalid factor level, NA generatedWarning message:
In `[<-.factor`(`*tmp*`, ri, value = "<e2><8b><ae>"): invalid factor level, NA generated

             State Year Rasmussen SurveyUSA DiffCount      PropR Republican
1          Alabama 2004        11        18         5 1.00000000          1
2          Alabama 2008        21        25         5 1.00000000          1
3           Alaska 2004        NA        NA         1 1.00000000          1
4           Alaska 2008        16        NA         6 1.00000000          1
5          Arizona 2004         5        15         8 1.00000000          1
6          Arizona 2008         5        NA         9 1.00000000          1
7          Arizona 2012         8        NA         4 0.83333333          1
8         Arkansas 2004         7         5         8 1.00000000          1
9         Arkansas 2008        10        NA         5 1.00000000          1
10        Arkansas 2012        NA        NA         2 1.00000000          1
11      California 2004       -11       -11        -8 0.00000000          0
12      California 2008       -27       -24        -5 0.00000000          0
13      California 2012        NA       -14        -6 0.00000000          0
14        Colorado 2004         5         3         9 1.00000000          1
15        Colorado 2008        -4        NA       -15 0.00000000          0
16        Colorado 2012         3        -2        -5 0.30769231          0
17     Connecticut 2004        NA        NA        -3 0.00000000          0
18     Connecticut 2008       -17       -16        -4 0.00000000          0
19     Connecticut 2012        -7       -13        -8 0.00000000          0
20        Delaware 2004        NA        NA        -2 0.00000000          0
21        Delaware 2008       -15       -30        -4 0.00000000          0
22         Florida 2004         3         1         0 0.50000000          1
23         Florida 2008         1        -3       -13 0.15789474          0
24         Florida 2012         2         0         6 0.66666667          0
25         Georgia 2004        NA        12         4 1.00000000          1
26         Georgia 2008         5         7         9 1.00000000          1
27         Georgia 2012        NA         8         4 1.00000000          1
28          Hawaii 2004        NA        NA         2 0.75000000          0
29          Hawaii 2008       -41        NA        -1 0.00000000          0
30          Hawaii 2012        NA        NA        -2 0.00000000          0
31           Idaho 2004        NA        NA         1 1.00000000          1
32           Idaho 2008        39        NA         1 1.00000000          1
33           Idaho 2012        NA        NA         1 1.00000000          1
34        Illinois 2004       -11       -12        -5 0.00000000          0
35        Illinois 2008       -22        NA        -5 0.00000000          0
36        Illinois 2012        NA        NA        -5 0.00000000          0
37         Indiana 2004        NA        19         3 1.00000000          1
38         Indiana 2008         3         0         2 0.62500000          0
39         Indiana 2012         9        NA         3 1.00000000          1
40            Iowa 2004         2        -3         5 0.66666667          1
41            Iowa 2008        -8       -15        -8 0.00000000          0
42            Iowa 2012         1        NA        -2 0.40000000          0
43          Kansas 2004        NA        23         3 1.00000000          1
44          Kansas 2008        13        21         2 1.00000000          1
45          Kansas 2012        NA         9         1 1.00000000          1
46        Kentucky 2004        NA        21         3 1.00000000          1
47        Kentucky 2008        12        16         5 1.00000000          1
48        Kentucky 2012        NA        14         1 1.00000000          1
49       Louisiana 2004        NA        NA         5 1.00000000          1
50       Louisiana 2008        16        NA         2 1.00000000          1
51       Louisiana 2012        NA        NA         2 1.00000000          1
52           Maine 2004        NA        -8        -6 0.00000000          0
53           Maine 2008       -13       -15        -6 0.00000000          0
54           Maine 2012       -12        NA        -6 0.00000000          0
55        Maryland 2004        -3       -11        -6 0.00000000          0
56        Maryland 2008       -23        NA        -1 0.00000000          0
57        Maryland 2012        NA        NA        -4 0.00000000          0
58   Massachusetts 2004        NA        NA        -2 0.00000000          0
59   Massachusetts 2008       -28       -17        -4 0.00000000          0
60   Massachusetts 2012       -19        NA        -8 0.00000000          0
61        Michigan 2004        NA        NA        -2 0.00000000          0
62        Michigan 2008       -10        NA       -11 0.13333333          0
63        Michigan 2012        -5        NA       -10 0.08333333          0
64       Minnesota 2004        -1        NA        -7 0.18181818          0
65       Minnesota 2008       -12        -3       -14 0.00000000          0
66       Minnesota 2012        -5       -11        -5 0.14285714          0
67     Mississippi 2004        NA        NA         1 1.00000000          1
68     Mississippi 2008         8        NA         4 1.00000000          1
69     Mississippi 2012        NA        NA         1 1.00000000          1
70        Missouri 2004         5         5         8 1.00000000          1
71        Missouri 2008         0         0         4 0.83333333          1
72        Missouri 2012        11         7         8 1.00000000          1
73         Montana 2004        NA        NA         3 1.00000000          1
74         Montana 2008         4        NA         4 0.75000000          1
75         Montana 2012        10        NA         5 1.00000000          1
76        Nebraska 2004        NA        NA         2 1.00000000          1
77        Nebraska 2008        19        NA         1 1.00000000          1
78        Nebraska 2012        NA        NA         2 1.00000000          1
79          Nevada 2004         2         8         9 1.00000000          1
80          Nevada 2008        -4        NA        -9 0.09090909          0
81          Nevada 2012        -2        -4       -10 0.00000000          0
82   New Hampshire 2004        -2        NA        -5 0.22222222          0
83   New Hampshire 2008        -7       -11       -14 0.00000000          0
84   New Hampshire 2012        -2        NA        -8 0.00000000          0
85      New Jersey 2004       -12       -12        -8 0.00000000          0
86      New Jersey 2008       -15       -10        -9 0.00000000          0
87      New Jersey 2012        NA       -14        -9 0.00000000          0
88      New Mexico 2004         4        NA         2 0.62500000          1
89      New Mexico 2008       -10        -7        -6 0.00000000          0
90      New Mexico 2012       -11        NA        -5 0.00000000          0
91        New York 2004        -5       -18        -6 0.00000000          0
92        New York 2008       -20       -33        -5 0.00000000          0
93        New York 2012        NA       -29        -5 0.00000000          0
94  North Carolina 2004        12         8         7 1.00000000          1
95  North Carolina 2008         1         1        -5 0.33333333          0
96  North Carolina 2012         6         5         3 0.66666667          1
97    North Dakota 2004        NA        NA         2 1.00000000          1
98    North Dakota 2008        14        NA         0 0.50000000          1
99    North Dakota 2012        14        NA         4 1.00000000          1
100           Ohio 2004         4         2         3 0.60000000          1
101           Ohio 2008         0        -2       -16 0.10000000          0
102           Ohio 2012         0        -5       -16 0.00000000          0
103       Oklahoma 2004        34        30         4 1.00000000          1
104       Oklahoma 2008        31        24         2 1.00000000          1
105       Oklahoma 2012        NA        NA         1 1.00000000          1
106         Oregon 2004        -8        -3        -8 0.10000000          0
107         Oregon 2008       -12       -19        -9 0.00000000          0
108         Oregon 2012        NA        -7        -4 0.00000000          0
109   Pennsylvania 2004        -2        -1       -12 0.12500000          0
110   Pennsylvania 2008        -6        -9       -19 0.00000000          0
111   Pennsylvania 2012        -5         0       -13 0.00000000          0
112   Rhode Island 2004        NA       -13        -2 0.00000000          0
113   Rhode Island 2008       -19        NA        -1 0.00000000          0
114   Rhode Island 2012        NA        NA        -2 0.00000000          0
115 South Carolina 2004        NA        18         4 1.00000000          1
116 South Carolina 2008        11         8         5 1.00000000          1
117 South Carolina 2012        NA        NA         1 1.00000000          1
118   South Dakota 2004        10        NA         4 1.00000000          1
119   South Dakota 2008         9        NA         4 1.00000000          1
120   South Dakota 2012        NA        NA         1 1.00000000          1
121      Tennessee 2004         6        18         7 1.00000000          1
122      Tennessee 2008        12        NA         5 1.00000000          1
123      Tennessee 2012        NA        NA         1 1.00000000          1
124          Texas 2004        NA        22         2 1.00000000          1
125          Texas 2008        10        NA         5 1.00000000          1
126          Texas 2012        NA        NA         4 1.00000000          1
127           Utah 2004        NA        NA         3 1.00000000          1
128           Utah 2008        32        NA         3 1.00000000          1
129           Utah 2012        NA        NA         1 1.00000000          1
130        Vermont 2004        NA        NA        -2 0.00000000          0
131        Vermont 2008       -24        NA        -2 0.00000000          0
132       Virginia 2004         6         4         5 1.00000000          1
133       Virginia 2008        -4        -4       -18 0.00000000          0
134       Virginia 2012         2        NA        -4 0.33333333          0
135     Washington 2004        -8        -4       -10 0.00000000          0
136     Washington 2008       -11       -16        -6 0.00000000          0
137     Washington 2012       -13       -14        -8 0.00000000          0
138  West Virginia 2004         6        NA         6 1.00000000          1
139  West Virginia 2008         9        NA        11 1.00000000          1
140  West Virginia 2012        NA        NA         1 1.00000000          1
141      Wisconsin 2004        -1        NA         1 0.53333333          0
142      Wisconsin 2008        -7       -16       -12 0.00000000          0
143      Wisconsin 2012         0        NA        -8 0.00000000          0
144        Wyoming 2004        NA        NA         1 1.00000000          1
145        Wyoming 2008        19        21         3 1.00000000          1

In [4]:
table(polling$Year)

2004 2008 2012
  50   50   45

In [5]:
summary(polling)

         State          Year        Rasmussen          SurveyUSA
 Arizona    :  3   Min.   :2004   Min.   :-41.0000   Min.   :-33.0000
 Arkansas   :  3   1st Qu.:2004   1st Qu.: -8.0000   1st Qu.:-11.7500
 California :  3   Median :2008   Median :  1.0000   Median : -2.0000
 Colorado   :  3   Mean   :2008   Mean   :  0.0404   Mean   : -0.8243
 Connecticut:  3   3rd Qu.:2012   3rd Qu.:  8.5000   3rd Qu.:  8.0000
 Florida    :  3   Max.   :2012   Max.   : 39.0000   Max.   : 30.0000
 (Other)    :127                  NA's   :46         NA's   :71
   DiffCount           PropR          Republican
 Min.   :-19.000   Min.   :0.0000   Min.   :0.0000
 1st Qu.: -6.000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :  1.000   Median :0.6250   Median :1.0000
 Mean   : -1.269   Mean   :0.5259   Mean   :0.5103
 3rd Qu.:  4.000   3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   : 11.000   Max.   :1.0000   Max.   :1.0000

In [7]:
# #Multiple Imputation

In [8]:
# #Multiple Imputatin by Changed Equations - MICE Package

In [9]:
# #install.packages("mice")

In [10]:
library("mice")

Warning message:
: package 'mice' was built under R version 3.2.5Loading required package: Rcpp
Warning message:
: package 'Rcpp' was built under R version 3.2.5mice 2.25 2015-11-09

In [12]:
c("Rasmussen", "SurveyUSA", "PropR", "DiffCount")

[1] "Rasmussen" "SurveyUSA" "PropR"     "DiffCount"

In [13]:
simple = polling[c("Rasmussen", "SurveyUSA", "PropR", "DiffCount")]

In [14]:
simple

    Rasmussen SurveyUSA      PropR DiffCount
1          11        18 1.00000000         5
2          21        25 1.00000000         5
3          NA        NA 1.00000000         1
4          16        NA 1.00000000         6
5           5        15 1.00000000         8
6           5        NA 1.00000000         9
7           8        NA 0.83333333         4
8           7         5 1.00000000         8
9          10        NA 1.00000000         5
10         NA        NA 1.00000000         2
11        -11       -11 0.00000000        -8
12        -27       -24 0.00000000        -5
13         NA       -14 0.00000000        -6
14          5         3 1.00000000         9
15         -4        NA 0.00000000       -15
16          3        -2 0.30769231        -5
17         NA        NA 0.00000000        -3
18        -17       -16 0.00000000        -4
19         -7       -13 0.00000000        -8
20         NA        NA 0.00000000        -2
21        -15       -30 0.00000000        -4
22          3         1 0.50000000         0
23          1        -3 0.15789474       -13
24          2         0 0.66666667         6
25         NA        12 1.00000000         4
26          5         7 1.00000000         9
27         NA         8 1.00000000         4
28         NA        NA 0.75000000         2
29        -41        NA 0.00000000        -1
30         NA        NA 0.00000000        -2
31         NA        NA 1.00000000         1
32         39        NA 1.00000000         1
33         NA        NA 1.00000000         1
34        -11       -12 0.00000000        -5
35        -22        NA 0.00000000        -5
36         NA        NA 0.00000000        -5
37         NA        19 1.00000000         3
38          3         0 0.62500000         2
39          9        NA 1.00000000         3
40          2        -3 0.66666667         5
41         -8       -15 0.00000000        -8
42          1        NA 0.40000000        -2
43         NA        23 1.00000000         3
44         13        21 1.00000000         2
45         NA         9 1.00000000         1
46         NA        21 1.00000000         3
47         12        16 1.00000000         5
48         NA        14 1.00000000         1
49         NA        NA 1.00000000         5
50         16        NA 1.00000000         2
51         NA        NA 1.00000000         2
52         NA        -8 0.00000000        -6
53        -13       -15 0.00000000        -6
54        -12        NA 0.00000000        -6
55         -3       -11 0.00000000        -6
56        -23        NA 0.00000000        -1
57         NA        NA 0.00000000        -4
58         NA        NA 0.00000000        -2
59        -28       -17 0.00000000        -4
60        -19        NA 0.00000000        -8
61         NA        NA 0.00000000        -2
62        -10        NA 0.13333333       -11
63         -5        NA 0.08333333       -10
64         -1        NA 0.18181818        -7
65        -12        -3 0.00000000       -14
66         -5       -11 0.14285714        -5
67         NA        NA 1.00000000         1
68          8        NA 1.00000000         4
69         NA        NA 1.00000000         1
70          5         5 1.00000000         8
71          0         0 0.83333333         4
72         11         7 1.00000000         8
73         NA        NA 1.00000000         3
74          4        NA 0.75000000         4
75         10        NA 1.00000000         5
76         NA        NA 1.00000000         2
77         19        NA 1.00000000         1
78         NA        NA 1.00000000         2
79          2         8 1.00000000         9
80         -4        NA 0.09090909        -9
81         -2        -4 0.00000000       -10
82         -2        NA 0.22222222        -5
83         -7       -11 0.00000000       -14
84         -2        NA 0.00000000        -8
85        -12       -12 0.00000000        -8
86        -15       -10 0.00000000        -9
87         NA       -14 0.00000000        -9
88          4        NA 0.62500000         2
89        -10        -7 0.00000000        -6
90        -11        NA 0.00000000        -5
91         -5       -18 0.00000000        -6
92        -20       -33 0.00000000        -5
93         NA       -29 0.00000000        -5
94         12         8 1.00000000         7
95          1         1 0.33333333        -5
96          6         5 0.66666667         3
97         NA        NA 1.00000000         2
98         14        NA 0.50000000         0
99         14        NA 1.00000000         4
100         4         2 0.60000000         3
101         0        -2 0.10000000       -16
102         0        -5 0.00000000       -16
103        34        30 1.00000000         4
104        31        24 1.00000000         2
105        NA        NA 1.00000000         1
106        -8        -3 0.10000000        -8
107       -12       -19 0.00000000        -9
108        NA        -7 0.00000000        -4
109        -2        -1 0.12500000       -12
110        -6        -9 0.00000000       -19
111        -5         0 0.00000000       -13
112        NA       -13 0.00000000        -2
113       -19        NA 0.00000000        -1
114        NA        NA 0.00000000        -2
115        NA        18 1.00000000         4
116        11         8 1.00000000         5
117        NA        NA 1.00000000         1
118        10        NA 1.00000000         4
119         9        NA 1.00000000         4
120        NA        NA 1.00000000         1
121         6        18 1.00000000         7
122        12        NA 1.00000000         5
123        NA        NA 1.00000000         1
124        NA        22 1.00000000         2
125        10        NA 1.00000000         5
126        NA        NA 1.00000000         4
127        NA        NA 1.00000000         3
128        32        NA 1.00000000         3
129        NA        NA 1.00000000         1
130        NA        NA 0.00000000        -2
131       -24        NA 0.00000000        -2
132         6         4 1.00000000         5
133        -4        -4 0.00000000       -18
134         2        NA 0.33333333        -4
135        -8        -4 0.00000000       -10
136       -11       -16 0.00000000        -6
137       -13       -14 0.00000000        -8
138         6        NA 1.00000000         6
139         9        NA 1.00000000        11
140        NA        NA 1.00000000         1
141        -1        NA 0.53333333         1
142        -7       -16 0.00000000       -12
143         0        NA 0.00000000        -8
144        NA        NA 1.00000000         1
145        19        21 1.00000000         3

In [15]:
set.seed(144)

In [17]:
# #Multiple Imputation to fill in multiple values
imputed = complete(mice(simple))

 iter imp variable
  1   1  Rasmussen  SurveyUSA
  1   2  Rasmussen  SurveyUSA
  1   3  Rasmussen  SurveyUSA
  1   4  Rasmussen  SurveyUSA
  1   5  Rasmussen  SurveyUSA
  2   1  Rasmussen  SurveyUSA
  2   2  Rasmussen  SurveyUSA
  2   3  Rasmussen  SurveyUSA
  2   4  Rasmussen  SurveyUSA
  2   5  Rasmussen  SurveyUSA
  3   1  Rasmussen  SurveyUSA
  3   2  Rasmussen  SurveyUSA
  3   3  Rasmussen  SurveyUSA
  3   4  Rasmussen  SurveyUSA
  3   5  Rasmussen  SurveyUSA
  4   1  Rasmussen  SurveyUSA
  4   2  Rasmussen  SurveyUSA
  4   3  Rasmussen  SurveyUSA
  4   4  Rasmussen  SurveyUSA
  4   5  Rasmussen  SurveyUSA
  5   1  Rasmussen  SurveyUSA
  5   2  Rasmussen  SurveyUSA
  5   3  Rasmussen  SurveyUSA
  5   4  Rasmussen  SurveyUSA
  5   5  Rasmussen  SurveyUSA

In [18]:
imputed

    Rasmussen SurveyUSA      PropR DiffCount
1          11        18 1.00000000         5
2          21        25 1.00000000         5
3          19        21 1.00000000         1
4          16        14 1.00000000         6
5           5        15 1.00000000         8
6           5        15 1.00000000         9
7           8         5 0.83333333         4
8           7         5 1.00000000         8
9          10        18 1.00000000         5
10         14        21 1.00000000         2
11        -11       -11 0.00000000        -8
12        -27       -24 0.00000000        -5
13         -8       -14 0.00000000        -6
14          5         3 1.00000000         9
15         -4        -4 0.00000000       -15
16          3        -2 0.30769231        -5
17        -11       -10 0.00000000        -3
18        -17       -16 0.00000000        -4
19         -7       -13 0.00000000        -8
20        -28       -17 0.00000000        -2
21        -15       -30 0.00000000        -4
22          3         1 0.50000000         0
23          1        -3 0.15789474       -13
24          2         0 0.66666667         6
25         12        12 1.00000000         4
26          5         7 1.00000000         9
27          9         8 1.00000000         4
28         11         7 0.75000000         2
29        -41       -16 0.00000000        -1
30        -23       -16 0.00000000        -2
31         13         9 1.00000000         1
32         39        25 1.00000000         1
33         31        21 1.00000000         1
34        -11       -12 0.00000000        -5
35        -22       -29 0.00000000        -5
36        -27       -17 0.00000000        -5
37         14        19 1.00000000         3
38          3         0 0.62500000         2
39          9         8 1.00000000         3
40          2        -3 0.66666667         5
41         -8       -15 0.00000000        -8
42          1        -3 0.40000000        -2
43         13        23 1.00000000         3
44         13        21 1.00000000         2
45         12         9 1.00000000         1
46         19        21 1.00000000         3
47         12        16 1.00000000         5
48         11        14 1.00000000         1
49          6         7 1.00000000         5
50         16        25 1.00000000         2
51         19        25 1.00000000         2
52         -2        -8 0.00000000        -6
53        -13       -15 0.00000000        -6
54        -12       -15 0.00000000        -6
55         -3       -11 0.00000000        -6
56        -23       -17 0.00000000        -1
57        -19       -30 0.00000000        -4
58        -17       -16 0.00000000        -2
59        -28       -17 0.00000000        -4
60        -19       -16 0.00000000        -8
61        -24       -17 0.00000000        -2
62        -10        -3 0.13333333       -11
63         -5       -11 0.08333333       -10
64         -1        -5 0.18181818        -7
65        -12        -3 0.00000000       -14
66         -5       -11 0.14285714        -5
67         12        23 1.00000000         1
68          8        18 1.00000000         4
69         11        14 1.00000000         1
70          5         5 1.00000000         8
71          0         0 0.83333333         4
72         11         7 1.00000000         8
73         10        18 1.00000000         3
74          4         0 0.75000000         4
75         10         8 1.00000000         5
76         19        25 1.00000000         2
77         19        21 1.00000000         1
78         19        22 1.00000000         2
79          2         8 1.00000000         9
80         -4        -4 0.09090909        -9
81         -2        -4 0.00000000       -10
82         -2        -1 0.22222222        -5
83         -7       -11 0.00000000       -14
84         -2        -8 0.00000000        -8
85        -12       -12 0.00000000        -8
86        -15       -10 0.00000000        -9
87         -7       -14 0.00000000        -9
88          4         0 0.62500000         2
89        -10        -7 0.00000000        -6
90        -11       -13 0.00000000        -5
91         -5       -18 0.00000000        -6
92        -20       -33 0.00000000        -5
93        -27       -29 0.00000000        -5
94         12         8 1.00000000         7
95          1         1 0.33333333        -5
96          6         5 0.66666667         3
97         21        19 1.00000000         2
98         14        15 0.50000000         0
99         14         9 1.00000000         4
100         4         2 0.60000000         3
101         0        -2 0.10000000       -16
102         0        -5 0.00000000       -16
103        34        30 1.00000000         4
104        31        24 1.00000000         2
105        19        21 1.00000000         1
106        -8        -3 0.10000000        -8
107       -12       -19 0.00000000        -9
108       -15        -7 0.00000000        -4
109        -2        -1 0.12500000       -12
110        -6        -9 0.00000000       -19
111        -5         0 0.00000000       -13
112       -11       -13 0.00000000        -2
113       -19       -16 0.00000000        -1
114        -5       -19 0.00000000        -2
115        10        18 1.00000000         4
116        11         8 1.00000000         5
117        12        21 1.00000000         1
118        10        18 1.00000000         4
119         9         8 1.00000000         4
120        32        24 1.00000000         1
121         6        18 1.00000000         7
122        12        18 1.00000000         5
123         6        18 1.00000000         1
124        19        22 1.00000000         2
125        10         8 1.00000000         5
126         9         8 1.00000000         4
127        10        18 1.00000000         3
128        32        30 1.00000000         3
129        21        25 1.00000000         1
130       -17       -33 0.00000000        -2
131       -24       -17 0.00000000        -2
132         6         4 1.00000000         5
133        -4        -4 0.00000000       -18
134         2        -2 0.33333333        -4
135        -8        -4 0.00000000       -10
136       -11       -16 0.00000000        -6
137       -13       -14 0.00000000        -8
138         6        15 1.00000000         6
139         9         4 1.00000000        11
140        32        24 1.00000000         1
141        -1        -5 0.53333333         1
142        -7       -16 0.00000000       -12
143         0       -11 0.00000000        -8
144        32        30 1.00000000         1
145        19        21 1.00000000         3

In [19]:
polling$Rasmussen = imputed$Rasmussen

In [20]:
polling$SurveyUSA = imputed$SurveyUSA

In [21]:
polling

Warning message:
In `[<-.factor`(`*tmp*`, ri, value = "<e2><8b><ae>"): invalid factor level, NA generatedWarning message:
In `[<-.factor`(`*tmp*`, ri, value = "<e2><8b><ae>"): invalid factor level, NA generated

             State Year Rasmussen SurveyUSA DiffCount      PropR Republican
1          Alabama 2004        11        18         5 1.00000000          1
2          Alabama 2008        21        25         5 1.00000000          1
3           Alaska 2004        19        21         1 1.00000000          1
4           Alaska 2008        16        14         6 1.00000000          1
5          Arizona 2004         5        15         8 1.00000000          1
6          Arizona 2008         5        15         9 1.00000000          1
7          Arizona 2012         8         5         4 0.83333333          1
8         Arkansas 2004         7         5         8 1.00000000          1
9         Arkansas 2008        10        18         5 1.00000000          1
10        Arkansas 2012        14        21         2 1.00000000          1
11      California 2004       -11       -11        -8 0.00000000          0
12      California 2008       -27       -24        -5 0.00000000          0
13      California 2012        -8       -14        -6 0.00000000          0
14        Colorado 2004         5         3         9 1.00000000          1
15        Colorado 2008        -4        -4       -15 0.00000000          0
16        Colorado 2012         3        -2        -5 0.30769231          0
17     Connecticut 2004       -11       -10        -3 0.00000000          0
18     Connecticut 2008       -17       -16        -4 0.00000000          0
19     Connecticut 2012        -7       -13        -8 0.00000000          0
20        Delaware 2004       -28       -17        -2 0.00000000          0
21        Delaware 2008       -15       -30        -4 0.00000000          0
22         Florida 2004         3         1         0 0.50000000          1
23         Florida 2008         1        -3       -13 0.15789474          0
24         Florida 2012         2         0         6 0.66666667          0
25         Georgia 2004        12        12         4 1.00000000          1
26         Georgia 2008         5         7         9 1.00000000          1
27         Georgia 2012         9         8         4 1.00000000          1
28          Hawaii 2004        11         7         2 0.75000000          0
29          Hawaii 2008       -41       -16        -1 0.00000000          0
30          Hawaii 2012       -23       -16        -2 0.00000000          0
31           Idaho 2004        13         9         1 1.00000000          1
32           Idaho 2008        39        25         1 1.00000000          1
33           Idaho 2012        31        21         1 1.00000000          1
34        Illinois 2004       -11       -12        -5 0.00000000          0
35        Illinois 2008       -22       -29        -5 0.00000000          0
36        Illinois 2012       -27       -17        -5 0.00000000          0
37         Indiana 2004        14        19         3 1.00000000          1
38         Indiana 2008         3         0         2 0.62500000          0
39         Indiana 2012         9         8         3 1.00000000          1
40            Iowa 2004         2        -3         5 0.66666667          1
41            Iowa 2008        -8       -15        -8 0.00000000          0
42            Iowa 2012         1        -3        -2 0.40000000          0
43          Kansas 2004        13        23         3 1.00000000          1
44          Kansas 2008        13        21         2 1.00000000          1
45          Kansas 2012        12         9         1 1.00000000          1
46        Kentucky 2004        19        21         3 1.00000000          1
47        Kentucky 2008        12        16         5 1.00000000          1
48        Kentucky 2012        11        14         1 1.00000000          1
49       Louisiana 2004         6         7         5 1.00000000          1
50       Louisiana 2008        16        25         2 1.00000000          1
51       Louisiana 2012        19        25         2 1.00000000          1
52           Maine 2004        -2        -8        -6 0.00000000          0
53           Maine 2008       -13       -15        -6 0.00000000          0
54           Maine 2012       -12       -15        -6 0.00000000          0
55        Maryland 2004        -3       -11        -6 0.00000000          0
56        Maryland 2008       -23       -17        -1 0.00000000          0
57        Maryland 2012       -19       -30        -4 0.00000000          0
58   Massachusetts 2004       -17       -16        -2 0.00000000          0
59   Massachusetts 2008       -28       -17        -4 0.00000000          0
60   Massachusetts 2012       -19       -16        -8 0.00000000          0
61        Michigan 2004       -24       -17        -2 0.00000000          0
62        Michigan 2008       -10        -3       -11 0.13333333          0
63        Michigan 2012        -5       -11       -10 0.08333333          0
64       Minnesota 2004        -1        -5        -7 0.18181818          0
65       Minnesota 2008       -12        -3       -14 0.00000000          0
66       Minnesota 2012        -5       -11        -5 0.14285714          0
67     Mississippi 2004        12        23         1 1.00000000          1
68     Mississippi 2008         8        18         4 1.00000000          1
69     Mississippi 2012        11        14         1 1.00000000          1
70        Missouri 2004         5         5         8 1.00000000          1
71        Missouri 2008         0         0         4 0.83333333          1
72        Missouri 2012        11         7         8 1.00000000          1
73         Montana 2004        10        18         3 1.00000000          1
74         Montana 2008         4         0         4 0.75000000          1
75         Montana 2012        10         8         5 1.00000000          1
76        Nebraska 2004        19        25         2 1.00000000          1
77        Nebraska 2008        19        21         1 1.00000000          1
78        Nebraska 2012        19        22         2 1.00000000          1
79          Nevada 2004         2         8         9 1.00000000          1
80          Nevada 2008        -4        -4        -9 0.09090909          0
81          Nevada 2012        -2        -4       -10 0.00000000          0
82   New Hampshire 2004        -2        -1        -5 0.22222222          0
83   New Hampshire 2008        -7       -11       -14 0.00000000          0
84   New Hampshire 2012        -2        -8        -8 0.00000000          0
85      New Jersey 2004       -12       -12        -8 0.00000000          0
86      New Jersey 2008       -15       -10        -9 0.00000000          0
87      New Jersey 2012        -7       -14        -9 0.00000000          0
88      New Mexico 2004         4         0         2 0.62500000          1
89      New Mexico 2008       -10        -7        -6 0.00000000          0
90      New Mexico 2012       -11       -13        -5 0.00000000          0
91        New York 2004        -5       -18        -6 0.00000000          0
92        New York 2008       -20       -33        -5 0.00000000          0
93        New York 2012       -27       -29        -5 0.00000000          0
94  North Carolina 2004        12         8         7 1.00000000          1
95  North Carolina 2008         1         1        -5 0.33333333          0
96  North Carolina 2012         6         5         3 0.66666667          1
97    North Dakota 2004        21        19         2 1.00000000          1
98    North Dakota 2008        14        15         0 0.50000000          1
99    North Dakota 2012        14         9         4 1.00000000          1
100           Ohio 2004         4         2         3 0.60000000          1
101           Ohio 2008         0        -2       -16 0.10000000          0
102           Ohio 2012         0        -5       -16 0.00000000          0
103       Oklahoma 2004        34        30         4 1.00000000          1
104       Oklahoma 2008        31        24         2 1.00000000          1
105       Oklahoma 2012        19        21         1 1.00000000          1
106         Oregon 2004        -8        -3        -8 0.10000000          0
107         Oregon 2008       -12       -19        -9 0.00000000          0
108         Oregon 2012       -15        -7        -4 0.00000000          0
109   Pennsylvania 2004        -2        -1       -12 0.12500000          0
110   Pennsylvania 2008        -6        -9       -19 0.00000000          0
111   Pennsylvania 2012        -5         0       -13 0.00000000          0
112   Rhode Island 2004       -11       -13        -2 0.00000000          0
113   Rhode Island 2008       -19       -16        -1 0.00000000          0
114   Rhode Island 2012        -5       -19        -2 0.00000000          0
115 South Carolina 2004        10        18         4 1.00000000          1
116 South Carolina 2008        11         8         5 1.00000000          1
117 South Carolina 2012        12        21         1 1.00000000          1
118   South Dakota 2004        10        18         4 1.00000000          1
119   South Dakota 2008         9         8         4 1.00000000          1
120   South Dakota 2012        32        24         1 1.00000000          1
121      Tennessee 2004         6        18         7 1.00000000          1
122      Tennessee 2008        12        18         5 1.00000000          1
123      Tennessee 2012         6        18         1 1.00000000          1
124          Texas 2004        19        22         2 1.00000000          1
125          Texas 2008        10         8         5 1.00000000          1
126          Texas 2012         9         8         4 1.00000000          1
127           Utah 2004        10        18         3 1.00000000          1
128           Utah 2008        32        30         3 1.00000000          1
129           Utah 2012        21        25         1 1.00000000          1
130        Vermont 2004       -17       -33        -2 0.00000000          0
131        Vermont 2008       -24       -17        -2 0.00000000          0
132       Virginia 2004         6         4         5 1.00000000          1
133       Virginia 2008        -4        -4       -18 0.00000000          0
134       Virginia 2012         2        -2        -4 0.33333333          0
135     Washington 2004        -8        -4       -10 0.00000000          0
136     Washington 2008       -11       -16        -6 0.00000000          0
137     Washington 2012       -13       -14        -8 0.00000000          0
138  West Virginia 2004         6        15         6 1.00000000          1
139  West Virginia 2008         9         4        11 1.00000000          1
140  West Virginia 2012        32        24         1 1.00000000          1
141      Wisconsin 2004        -1        -5         1 0.53333333          0
142      Wisconsin 2008        -7       -16       -12 0.00000000          0
143      Wisconsin 2012         0       -11        -8 0.00000000          0
144        Wyoming 2004        32        30         1 1.00000000          1
145        Wyoming 2008        19        21         3 1.00000000          1

In [22]:
# #Now polling contains no more missing values

In [25]:
# #Split into TRAIN and TEST
# #TRAIN - 2004 and 2008
# #TEST - 2012

In [26]:
TRAIN = subset(polling, Year == 2004 | Year == 2008)

In [28]:
table(TRAIN$Year)

2004 2008
  50   50

In [29]:
TEST = subset(polling, Year == 2012)

In [30]:
table(TEST$Year)

2012
  45

In [31]:
table(TRAIN$Republican)

 0  1
47 53

In [33]:
# #Democrat won the elections in 47 observations and Republican won the elections in 53 cases
# #Our baseline model will always predict the more frequently occuring case i.e. 53

In [34]:
53/(47+53)

[1] 0.53

In [35]:
# #This means that by using the baseline model, we get an accuracy of 53%

In [36]:
# #sign() Function
# #Input : Positive Number | Returns +1
# #Input : Negative Number | Returns -1
# #Input : Zero | Returns 0

In [37]:
sign(20)

[1] 1

In [38]:
sign(-20)

[1] -1

In [39]:
sign(0)

[1] 0

In [41]:
sign(TRAIN$Rasmussen)

  [1]  1  1  1  1  1  1  1  1 -1 -1  1 -1 -1 -1 -1 -1  1  1  1  1  1 -1  1  1 -1
 [26] -1  1  1  1 -1  1  1  1  1  1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1  1  1  0
 [51]  1  1  1  1  1 -1 -1 -1 -1 -1  1 -1 -1 -1  1  1  1  1  1  0  1  1 -1 -1 -1
 [76] -1 -1 -1  1  1  1  1  1  1  1  1  1  1 -1 -1  1 -1 -1 -1  1  1 -1 -1  1  1

In [42]:
table(sign(TRAIN$Rasmussen))

-1  0  1
42  2 56

In [43]:
# #Democrat - 42
# #Republican - 56
# #Can't say - 2

In [44]:
table(TRAIN$Republican, sign(TRAIN$Rasmussen))

    -1  0  1
  0 42  1  4
  1  0  1 52

In [46]:
(42+52)/(42+52+4+1+1)

[1] 0.94

In [47]:
# #This could be a much stronger baseline model

In [49]:
cor(TRAIN[c("Rasmussen", "SurveyUSA","DiffCount","PropR","Republican")])

           Rasmussen SurveyUSA DiffCount     PropR Republican
Rasmussen  1.0000000 0.9092338 0.5080703 0.8370994  0.7880698
SurveyUSA  0.9092338 1.0000000 0.5690109 0.8803354  0.8302050
DiffCount  0.5080703 0.5690109 1.0000000 0.8273785  0.8092777
PropR      0.8370994 0.8803354 0.8273785 1.0000000  0.9484204
Republican 0.7880698 0.8302050 0.8092777 0.9484204  1.0000000

In [52]:
# #Logistic Regression with one variable
# #For the "Republican" Variable, the one with the highest correlation is "PropR"
# #This could be our single variable

In [55]:
model_1 = glm(Republican ~ PropR, data = TRAIN, family = "binomial")

In [56]:
summary(model_1)

Call:
glm(formula = Republican ~ PropR, family = "binomial", data = TRAIN)

Deviance Residuals:
     Min        1Q    Median        3Q       Max
-2.22880  -0.06541   0.10260   0.10260   1.37392

Coefficients:
            Estimate Std. Error z value Pr(>|z|)
(Intercept)   -6.146      1.977  -3.108 0.001882 **
PropR         11.390      3.153   3.613 0.000303 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 138.269  on 99  degrees of freedom
Residual deviance:  15.772  on 98  degrees of freedom
AIC: 19.772

Number of Fisher Scoring iterations: 8

In [57]:
prediction_1 = predict(model_1, type = "response")

In [58]:
summary(prediction_1)

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
0.002137 0.002137 0.767600 0.530000 0.994800 0.994800

In [59]:
table(TRAIN$Republican, prediction_1 >=0.5)

    FALSE TRUE
  0    45    2
  1     2   51

In [60]:
model_2 = glm(Republican ~ (SurveyUSA + DiffCount), data = TRAIN, family = "binomial")

In [61]:
summary(model_2)

Call:
glm(formula = Republican ~ (SurveyUSA + DiffCount), family = "binomial",
    data = TRAIN)

Deviance Residuals:
     Min        1Q    Median        3Q       Max
-2.16786  -0.01261   0.01791   0.06115   1.47919

Coefficients:
            Estimate Std. Error z value Pr(>|z|)
(Intercept)  -0.9207     1.1446  -0.804   0.4212
SurveyUSA     0.2345     0.1212   1.934   0.0531 .
DiffCount     0.7645     0.4213   1.815   0.0695 .
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 138.269  on 99  degrees of freedom
Residual deviance:  12.077  on 97  degrees of freedom
AIC: 18.077

Number of Fisher Scoring iterations: 9

In [62]:
prediction_2 = predict(model_2, type = "response")

In [63]:
table(TRAIN$Republican, prediction_2 >=0.5)

    FALSE TRUE
  0    45    2
  1     1   52

In [64]:
# #RESULT : One less mistake  False-1

In [65]:
# #TESTING

In [66]:
table(TEST$Republican, sign(TEST$Rasmussen))

    -1  0  1
  0 18  2  4
  1  0  0 21

In [67]:
TestPrediction = predict(model_2, newdata = TEST, type = "response")

In [68]:
table(TEST$Republican, TestPrediction >=0.5)

    FALSE TRUE
  0    23    1
  1     0   21